.commentSection {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
  }
  
  .commentForm {
    width: 96%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 45px;
  }
  
  .commentForm label {
    font-weight: bold;
    color: #ffffff;
  }
  
  .commentForm input{
    width: 90%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #ffffff;
  }
  .commentForm textarea {
    width: 90%;
    height: 200px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #ffffff;
  }
  
  .commentForm button {
    width: 94%;
    padding: 10px;
    background-color: #e0123b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
  }
  