.title {
  font-size: 120px;
}

.sorts {
  margin: 51px 0 23px;
}

.sortButton {
  padding: 12px 40px;
  border: none;
  color: #fff;
  font-weight: 600px;
  font-size: 18px;
  background-color: transparent;
}

.titleRatingContainer {
  display: flex;
  align-items: center;
  gap: 10px; /* 제목과 별점 사이의 간격 */
}

:global(.light).sortButton {
  padding: 12px 40px;
  border: none;
  color: #000000;
  font-weight: 600px;
  font-size: 18px;
  background-color: transparent;
}

.textRightAlign {
  text-align: right;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.loadMoreButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e0123b;
  color: #fff;
  align-self: flex-end;
  margin-top: 20px;
}

.loadMoreContainer {
  display: flex;
  justify-content: flex-end; /* 변경된 부분 */
  width: 100%;
  margin-top: 20px;
}

.searchContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
}