.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh;
    color: #ffffff;
  }
  
  .header {
    font-size: 2rem;
    margin-bottom: -5px;
  }
  
  .userInfo {
    font-size: 1.0rem;
    margin-bottom: 5px;
  }

  .userImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ffffff;
  }
  