/* .Rating-star {
  color: #ffe5a2;
  font-size: 25px;
}

.Rating-star.selected {
  color: #ffb700;
} */

.stars {
  display: inline-flex;
}

.filledStar {
  color: #81ee38;
}

.emptyStar {
  color: lightgray;
}